* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  background-color: white;
}

#img-div {
  height: 55.5vw;
}

#img-div img {
  display: block;
  margin-bottom: auto;
  width: 100%;
  border-bottom: 4em gray solid;
}

#title {
  width: 40%;
  position: sticky;
  font-size: 5vw;
  left: 20vw;
  /* left: 500px; */
  color: white;
}

#img-caption {
  position: sticky;
  width: 40%;
  margin-top: -35vw;
  left: 10vw;
  font-size: 2vw;
  color: gray;
}

#about-title {
  padding-top: 2vw;
  text-align: center;
  font-size: 5vh;
  margin-bottom: 3vh;
  color: white;
  text-shadow: 4px 4px 4px #000;
}

.about-container {
  background: #111;
  display: block;
  margin: auto;
  border-top: 5px gray solid;
}

#about {
  display: grid;
  width: 100%;
  margin: auto;
  grid-template-columns: 40% 40%;
  grid-gap: 10%;
  justify-content: center;
  padding-bottom: 2vh;
  background-color: #111;
}

#tribute-info {
  display: block;
  color: gray;
  text-align: justify;
  font-size: 1.25em;
  text-indent: 4em;
}

#tribute-link {
  text-decoration: none;
  color: white;
  font-size: 2em;
  display: block;
  text-align: center;
  padding-bottom: 2vh;
}

#tribute-link:hover {
  color: blue;
}

#gray-to-white {
  display: block;
  background: linear-gradient(180deg, #111, white);
  height: 10px;
  width: 100%;
}

#white-to-gray {
  display: block;
  background: linear-gradient(180deg, white, #111);
  height: 10px;
  width: 100%;
}

#quotes-container {
  padding-bottom: 2vh;
}

#quotes {
  padding-top: 1vh;
  background: white;
  text-align: center;
  font-size: 5vw;
}

#posters {
  padding-top: 2vh;
  border-top: 0.2em gradient solid;
  background: white;
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-row-gap: 10vh;
  grid-column-gap: 5vw;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

.poster-wrapper {
  margin: auto;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.poster {
  width: 100%;
  display: block;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  filter: grayscale(100%);
}

img {
  max-width: 100%;
}

.poster:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
  filter: grayscale(0%);
}

.trivia-container {
  background: #111;
  border: 3px pink solid;
}

#trivia-container {
  position: relative;
  text-align: center;
  background-color: #000;
}

#trivia-container h1 {
  position: absolute;
  top: 2vw;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6vw;
  padding-top: 10vh;
  color: white;
  text-shadow: 6px 6px #000;
}

#trivia-list {
  position: absolute;
  top: 12vw;
  margin-left: 10%;
  text-align: left;

  width: 80%;
}

#trivia-list li {
  color: lightgray;
  position: relative;
  font-size: 2vw;
  padding-bottom: 1em;
  text-shadow: 2px 2px #000;
}

#trivia-container img {
  opacity: 0.25;
  filter: grayscale(100%);
  width: 100%;
}

#video-container {
  background-color: white;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

#video-container h1 {
  text-align: center;
  text-shadow: 2px 2px 4px #333;
  font-size: 6vw;
}

.vid {
  width: 80%;
  margin: 0 auto;
  height: 45vw;
}

#video-tribute {
  display: block;
  margin: 0 auto;
}

.vid iframe {
  width: 100%;
  height: 100%;
}

footer {
  background-color: #111;
  height: 4vh;
  padding-top: 1vh;
  margin-top: 10px black solid;
  font-size: 2vh;
  color: lightgray;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  #posters {
    grid-template-columns: 40% 40%;
    grid-row-gap: 4vh;
    grid-column-gap: 6vw;
  }

  #tribute-info {
    font-size: 1em;
  }
}

@media screen and (max-width: 480px) {
  #posters {
    grid-template-columns: 40% 40%;
    grid-row-gap: 4vh;
    grid-column-gap: 6vw;
  }

  #tribute-info {
    font-size: 0.7em;
  }

  #title {
    width: 40%;
    position: sticky;
    font-size: 5vw;
    left: 20vw;
    /* left: 500px; */
    color: white;
  }

  #img-caption {
    margin-top: -50vw;
  }

  #about {
    grid-template-columns: 80%;
  }

  #tribute-link {
    padding-top: 15vw;
    font-size: 15px;
  }

  #trivia-container h1 {
    padding-top: 3vh;
  }
}
